.bar-chart { 
  display: flex; 
  flex-direction: row; 
  align-items: flex-end; 
  justify-content: center; 
  margin: 2vh;
}

.line-chart{
    display: flex; 
    flex-direction: row; 
    align-items: flex-end; 
    justify-content: center; 
    margin: 2vh;
}