.repository {
  flex: 1;
  margin-left: 1vh;
  border-radius:5px;
  border: 2px solid #282A2F;
  background-color: #191B1F;
  overflow-y: scroll;
}

h4{
  text-align: center;
  background-color: #191B1F; 
}

.content{
  padding: 2vh;
}

.card{
  padding: 1vh;
  margin: 0.75vh 1vh;
  border-radius:5px;
  border: 2px solid #282A2F;
  background-color: #23252A;
  cursor: pointer;
}

.card:hover{
  background-color: #282A2F;
}

@media only screen and (max-width: 912px){

  .repository{
    margin: 1vh;
  }

}