.max-runtime-section, .failed-workflows-section, .skipped-workflows-section, .aggregate-stats-section {
  flex: 1;
  color: #CCCDDC;
  border-radius:5px;
  border: 2px solid #282A2F;
  background-color: #191B1F;
  overflow-y: scroll;
}

.max-runtime-section{
  margin-right: 0.5vh;
}

.failed-workflows-section{
  margin-right: 0.5vh;
  margin-left: 0.5vh;
}

.skipped-workflows-section{
  margin-right: 0.5vh;
  margin-left: 0.5vh;
}

.aggregate-stats-section{
  margin-left: 0.5vh;
}

.card{
  padding: 1vh;
  margin: 0.75vh 1vh;
  border-radius:5px;
  border: 2px solid #282A2F;
  background-color: #23252A;
}

.card:hover{
  background-color: #282A2F;
}

.heading{
  font-style: italic;
  color: whitesmoke;
}

h4{
  text-align: center;
  background-color: #191B1F;
}

@media only screen and (max-width: 912px){
  .max-runtime-section, .failed-workflows-section, .skipped-workflows-section, .aggregate-stats-section {
    margin: 1vh;
  }
}