.stats{
  flex: 1;
  border-radius:5px;
  text-align: center;
  border: 2px solid #282A2F;
  background-color: #191B1F;
}

.pie-graph{
  width: 60%;
  height: 60%;
  margin: auto;
}

@media only screen and (max-width: 900px){

  .stats{
    margin: 2vh auto;
  }

}
