.stats{
  flex: 1;
  border-radius:5px;
  text-align: center;
  padding-bottom: 2vh;
  border: 2px solid #282A2F;
  background-color: #191B1F;
}


@media only screen and (max-width: 900px){

  .stats{
    margin: 1vh;
    padding-bottom: 1vh;
  }

}
