.app {
  color: #CCCDDC;
}

.app-header{
  top: 0;
  position: sticky; 
  background-color: #111216;
  border-bottom: 2px solid #161B22;
  overflow: hidden;
}

.main-content{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5vh;
}

.top-section {
  height: 40vh;
  display: flex;
  margin-bottom: 1vh;
}

.middle-section {
  height: 60vh;
  margin-top: 1vh;
  text-align: center;
  display: flex;
  /* background-color: #191B1F;
  border-radius: 5px;
  border: 2px solid #282A2F; */
}

.graph-subdivison1{
  flex: 1;
  padding-right: 1vh;
} 

.graph-subdivison2{
  flex: 1;
  padding-left: 1vh;
}

.bar-graph, .line-graph, .area-graph, .multiline-graph{
  margin-top: 1vh;
  border-radius: 5px;
  border : 1px solid #282A2F;
  background-color: #191B1F;
}


.footer{
  padding: 5vh;
  text-align: center;
}

hr{
  width: 80%;
  border-color: #282A2F;
  margin: 1vh auto;
}


@media only screen and (max-width: 810px){

  .main-content{
    padding: 0vh;
    margin:  2vh auto;

  }

  .top-section{
    height: 100vh;
    flex-direction: column;
  }

  .middle-section{
    height: 100vh;
    flex-direction: column;
  }

  .graph-subdivison1{
    display: flex;
    flex-direction: column;
    padding: 1vh;
  } 
  
  .graph-subdivison2{
    display: flex;
    flex-direction: column;
    padding: 1vh;
  }

  .bar-graph, .line-graph, .area-graph, .multiline-graph{
    margin: auto;
  }

  .footer{
    padding: 0vh;
  }
}
